@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", serif;

}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

/* Navbar */

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid tomato;

}